[Ll]ib
[Bb]in
obj
dist
[Ll]ogs
*resharper*
*.user
*.suo
*.dll
*ReSharper*
*.[Ll]og
*.[Ll]og.*
*.orig
Temporary.*
_UpgradeReport_*
UpgradeLog.XML
Backup\*
..\Temporary.*
TestResult.xml
database
*.dotCover
*debug*
*.svn-base
packages\**\
test_out
syntax: glob
*.lnk
csx
rcf
Thumbs.db
node_modules
dist
.tmp
.sass-cache
bower_components
server/libs
build
packages
.idea
server/.vs/
.settings
client/test/spec/templateCache.js
TestResults
